In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
ill_data = pd.read_csv('illiteracy.txt', sep='\t')

In [4]:
ill_data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [5]:
ill_data.shape

(94, 3)

In [8]:
ill_data.corr('pearson')

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [9]:
ill_data.corr('spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000